logs/
structurize/
woot/
crash-reports/
emojiful/
.mixin.out/
craftpresence/
dumps/
natives/
saves/
schematics/
screenshots/
resourcepacks/
local/
backups/
journeymap/
tutorials/
scripts/.zsrc
options.txt
usercache.json
usernamecache.json
config/jei/bookmarks.ini
crafttweaker.log